{% extends "base.html" %}

{% block content %}

<div class="page-header"><h2>New Message</h2></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Compose Message</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/compose" method="post">
      <div class="form-group">
        <label>To:</label>
        <input  name="recipient" class="form-control" type="text" placeholder="Recipient" value={{recipient}}>
          <ol style="visibility:hidden;"></ol>
          <label>Subject:</label>
          <input  name="subject" class="form-control" type="text" placeholder="Subject" value={{subject}}>
          <ol style="visibility:hidden;"></ol>
          <label>Message:</label>
          <textarea style="resize:none; font-size: 20px;" name="text" class="form-control" rows="10"></textarea>
          <ol style="visibility:hidden;"></ol>
          
          <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
            <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   Send</button>
            </div>
    </form>
  </div>
</div>


{% endblock %}