{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Comment</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/comment" method="post">
      <div class="form-group">
        <textarea style="resize:none; font-size: 18px;" name="text" class="form-control" rows="1" id="commentBox" placeholder="What's new?"></textarea>
        <ol style="visibility:hidden;"></ol>
        <input  type="hidden" name="recipient" class="form-control" value={{viewer.username}}>
          <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
            <input  type="hidden" name="origin" class="form-control" value='feed'>
              <button type="submit" class="btn btn-primary pull-right" style="display:none;" id="postButton"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Post</button>
              </div>
    </form>
  </div>
</div>
<div id = "feedlist">
  Loading...
</div>
<script>
 
 
 $(function () {
   
   $('#commentBox').data('holder', $('#commentBox').attr('placeholder'));
   
   $('#commentBox').focusin(function () {
                      $(this).attr('placeholder', '');
                      $(this).attr('rows', 2);
                      $("#postButton").show("fast");
                      });
   $('#commentBox').focusout(function () {
                    if($(this).val().length == 0){
                       $(this).attr('placeholder', "What's New?");
                       $(this).attr('rows', 1);
                       $("#postButton").hide("fast");
                    }
                       });
   
   
   });
   
  function updateFeed() {
    $.ajax({
           url: "/feedlist",
           cache: false,
           success: function(frag){
           $("#feedlist").html(frag);
           }
           });
           setTimeout('updateFeed()', 1000);
  }
updateFeed();
  </script>
{% endblock %}
