{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>{{forum_name}}
    <a href="/submit?forum_name={{forum_name}}" type="button" class="btn btn-primary pull-right" align="right">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Submit Post</a>
  </h1>
</div>
<div class="list-group">
  {% for post in posts %}
  <div class="list-group-item">
    <!-- TODO Delete message link -->
    <a href="{{post.url}}">
      <h3 class="list-group-item-heading">{{post.title}} </h3>
    </a>
    <p class="list-group-tem-text"> submitted {{post.time}} by {{post.author}} <span class="label-lg label-default pull-right"> Comments</span></p>
  </div>
  
  {% endfor %}
</div>

{% endblock %}
