{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h2>{{user.first_name}}'s Connections
    <!-- <a href="/compose" type="button" class="btn btn-primary pull-right" align="right">
     <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   Compose</a> -->
  </h2>
</div>
<ul class = "list-group">
  {% for connection in connections %}
  <div class="list-group">
    <a href="profile/{{connection.username}}" class="row list-group-item">
      <div class="col-md-1">
        <img src="/img?user_id={{connection.key_urlsafe}}&height=75&width=75" class="img-rounded" ></img>
      </div>
      <div class="col-md-11">
        <h4>{{connection.first_name}}  {{connection.last_name}}</h4>
        <p>{{connection.profession}}{{connection.employer}}</p>
      </div>
    </a>
    {% empty %}
          <div class = "row">
          <div style="margin-left: 15px; margin-right: 15px;" class="list-group-item">
            <h3 stlye="margin-left: 20px;"> No Connections </h3>
          </div>
        </div>
  </div>
  {% endfor %}
</ul>
{% endblock %}
