{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h2>{{user.first_name}}'s Connections
    <!-- <a href="/compose" type="button" class="btn btn-primary pull-right" align="right">
     <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   Compose</a> -->
  </h2>
</div>
<ul class = "list-group">
  {% for connection in connections %}
  <a href="/profile/{{connection.username}}" class="list-group-item">
    <img src="/img?user_id={{connection.key.urlsafe}}&height=50&width=50" class="img-rounded"></img>
    <h4 class="list-group-item-heading">{{connection.first_name}} {{connection.last_name}}
    </h4>
    <p class="list-group-item-text">{{connection.profession}} </p>
    
  </a>
  {% endfor %}
</ul>
{% endblock %}
