 <style type="text/css">
 a:hover {
  cursor:pointer;
 }
 button {
  margin:0;
 }
</style>


<div class="panel panel-default" style="display:none; padding:0;" id="reply-box">
  <div class="panel-heading">
    <h3 class="panel-title">Reply</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/comment" method="post">
      <div class="form-group">
        <textarea style="font-size: 18px;" name="text" class="form-control" rows="3" id="replycommentBox"></textarea>
        <ol style="visibility:hidden;"></ol>
        <input  type="hidden" name="recipient" class="form-control" value={{viewer.username}}>
          <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
            <input  type="hidden" name="origin" class="form-control" value='feed'>
            <input type="hidden" id="parent" name="parent" class="form-control">
              <button type="submit" class="btn btn-primary pull-right" id="postreplyButton"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Reply</button>
              </div>
    </form>
  </div>
</div>
 {% for comment in comments %}
 <div id="comment"  {% if comment.root%} class="panel panel-info" style="margin-bottom:0; margin-top:40;" {%else%} class="list-group-item" style="margin-left:40; margin-top:0;margin-bottom:0;"{% endif %}>
  <div class="panel-heading">
    <h2 class="panel-title">
      {{comment.sender}}
      {% if comment.sender != comment.recipient %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  {{comment.recipient}}
      {% endif %}
      <span><p class="panel-title pull-right">{{comment.time}}</p></span></h2>
    </div>
    <div class="panel-body">
      <h4>{{comment.text}} </h4>
      <div class="btn-group pull-right">
      <button id="reply" style="padding-left:15px;" class="btn btn-xs pull-right" id="reply-{{forloop.counter}}" value={{comment.key.urlsafe}}>Reply</button>
      <button style="padding-left:15px;" class="btn btn-xs pull-right">Share</button>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
<div id = "loading" style = "display: none;">Loading...</div>
<div id="more-{{page}}" style = "display:none;"> {{more}}</div>

<script>
  $('#reply').click(function(){
    $('#reply-box').show().insertAfter('#comment');
    var parent = $('#reply').val();
    $('#parent').val(parent);
    $('#reply').hide();
    $('#replycommentBox').focus();
  });
  $('#postreplyButton').click(function(){
          alert('hello');  });
</script>