 {% for comment in comments %}
 <div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">
      {{comment.sender}}
      {% if comment.sender != comment.recipient %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  {{comment.recipient}}
      {% endif %}
      <span><p class="panel-title pull-right">{{comment.time}}</p></span></h2>
    </div>
    <div class="panel-body">
      <h4>{{comment.text}}</h4>
    </div>
  </div>
</div>
  {% endfor %}
<div id = "loading" style = "display: none;">Loading...</div>
<div id="more-{{page}}" style = "display:none;"> {{more}}</div>

