{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>{{post.title}}
  </h1>
</div>
{% if post.text != None %}
<div class="panel panel-info">
  <div class="panel-heading">
    submitted {{post.time}} by {{post.author}}
  </div>
  <div class="panel-body">
    <h4>{{post.text}}</h4>
  </div>
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Comment</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/tech/{{post.forum_name}}/{{post.reference}}" method="post">
      <div class="form-group">
        <textarea style="resize:none; font-size: 20px;" name="text" class="form-control" rows="2"></textarea>
        <ol style="visibility:hidden;"></ol>
          <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
          <input  type="hidden" name="recipient" class="form-control" value="/tech/{{post.forum_name}}">
              <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Post</button>
              </div>
    </form>
  </div>
</div>

{% for comment in comments %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">
      {{comment.sender}}
      <span><p class="panel-title pull-right">{{comment.time}}</p></span></h2>
  </div>
  <div class="panel-body">
    <h4>{{comment.text}}</h4>
  </div>
</div>
{% endfor %}


{% endblock %}
