{% extends "visitorBase.html" %}


{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="well">
          <form class="form-horizontal" enctype="multipart/form-data"  action="/" method="POST">
            <fieldset>
              <div id="legend">
                <legend class="">Log In</legend>
              </div>
              <div class="control-group">
                <h4>Username or Email<small id="available" class="label label-success pull-right" style="display:none;"></small></h4>
                <div class="controls">
                  <input type="text" name="username" placeholder="" class="form-control input-lg" required>
                </div>
              </div>    
              <div class="control-group">
                <h4>Password</h4>
                <div class="controls">
                  <input class="focused required form-control input-lg" name="password" type="password" placeholder="" required>
                </div>
              </div>
              <br></br>
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-primary btn-lg" type="submit" style="display: block; width: 100%;">Sign In</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}