{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h2>Messages
    <a href="/compose" type="button" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   Compose
    </a>
  </h2>
</div>
<ul class = "nav nav-tabs nav-justified">
  <li role="presentation" class = "active"><a href="/messages">Inbox</a></li>
  <li role="presentation"><a href ="/trash">Trash</a></li>
</ul>
<div id="my-tabs" class="tab-content">
  <div id="messages">
    <button id = "delete" class = "btn btn-warning btn-lg" style= "display: none; width: 100%;">Delete</button>
    <ul class = "list-group">
      {% for message in messages %}
        <div class = "row">
          <div class="list-item">
          <div class = "col-md-1" >
            <h4></h4>
            <div class="well well-sm">
              <button id="checkbox{{forloop.counter}}" class = "btn btn-default center-block" value ="{{message.key.urlsafe}}">
              <div id="check{{forloop.counter}}" class = "glyphicon glyphicon-ok" style="display:none;" ></div>
              </button>
            </div>
          </div>
          <div class = "col-md-11" style= "padding-left: 0;">
            <a href="/messages/{{message.key.urlsafe}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{message.sender}} </h4>
            <h7 class="list-group-item-text">Subject: {{message.subject}}  -  {{message.text}} </h7>
            </a>
          </div>
          </div>
        </div>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Check for checked items to delete
 --><script type ="text/javascript" src="js/selectMessage.js"></script>
{% endblock %}
