{% extends "base.html" %}

{% block content %}

<style>
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
.ui-helper-hidden-accessible { display:none; }
</style>
<!-- Main user Profile -->
<div id = "viewer" style="display: none;">{{viewer.username}}</div>
<img src="/img?user_id={{user.key.urlsafe}}"
class="img-rounded"/>
<div class="page-header">


  <!-- Edit information -->
  <div class = "row">
    <div class = "col-md-12">
      <form class = "form-inline" action = "/updateprofile" method = "post" style = "display: none;" id = "editField">
        <div class = "col-md-2">
          <input name = "first" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.first_name}}">
        </div>
        <div class = "col-md-2">
          <input name = "last" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.last_name}}">
        </div>
        <div class = "col-md-2">
          <input name = "profession" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.profession}}">
        </div>
        <div class = "col-xs-1 text-center"><h4>at</h4></div>
        <div class = "col-md-3">
          <input name = "employer" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.employer}}">
          <input name="user_key" type="hidden" value="{{user.key.urlsafe}}">
        </div>
        <div class = "col-md-1"><button class = "btn btn-warning" id="cancel" type="reset">Cancel</button></div>
        <div class = "col-md-1"><button class = "btn btn-primary" id = "save" type="submit">Save</button></div>
      </form>
    </div>
  </div>
  <!-- End edit information -->


  <h2 id= "test" >{{user.first_name}} {{user.last_name}}
    <small id = "profession">      {{user.profession}}    </small>
    <small> @ </small>
    <small id = "employer">     {{user.employer}}</small>
    {% if user.email_address != viewer.email_address %}
    <form role="form-horizontal" action="/connect" method="post">
      <div class="form-group">
        <input  type="hidden" name="requestee" class="btn btn-primary" value={{user.username}}>
      </div>
      {% if viewer.key not in user.friends %}
      <!-- IF USER IS NOT FRIENDS -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#connectModal" data-requestee={{user.username}}><span class ="glyphicon glyphicon-plus" aria-hidden="true"></span>          Connect</button>
      {% endif %}

      <!-- Here is the button to create a modal message. -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal" data-recipient={{user.username}}><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Message</button>
    </form>
</div>

<!-- NEW CONNECTION MODAL SELECTED -->
      <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectionLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="connectionLabel">Connection Request</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class = "media">
                  <div class = "media-left">
                    <img src="/img?user_id={{user.key.urlsafe}}&height=100&width=100" class="img-rounded"/> 
                  </div>
                  <div class = "media-body">
                  <h4 class = "media-heading">{{user.first_name}} {{user.last_name}}<br>{{user.profession}} at {{user.employer}}</br>      
                  </div>
                </div>
                <h2></h2>
                <div class="form-group">
                  <label for="connection-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="connection-text" rows="3">Hi {{user.first_name}}! I'd like to connect with you.</textarea>
                </div>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="connectRequest">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/js/newConnection.js"> </script>

      <!-- NEW MESSAGE MODAL SELECTED -->
      <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="messageLabel">New message</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Recipient:</label>
                  <input type="text" class="form-control input-lg" id="recipient">
                </div>
                <div class = "form-group">
                  <label for="message-subject" class="control-label">Subject:</label>
                  <input class = "form-control input-lg" id="message-subject"></input>
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text" rows="10"></textarea>
                </div>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="sendMessage">Send message</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/js/newMessage.js"> </script>
      
    {% else %}
    <!-- User owns profile -->
      <button type="button" class="btn btn-primary pull-right" align="right" id="edit">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>   Edit</button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="container">
          <div class="row form-group">
            <!-- Main tabs -->
            <div class="col-xs-12">
              <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step1"><h4 class="list-group-item-heading">Role</h4></a></li>
                <li class="disabled"><a href="#step2"><h4 class="list-group-item-heading">Specialty</h4></a></li>
                <li class="disabled"><a href="#step3"><h4 class="list-group-item-heading">Current Profession</h4></a></li>
                </ul>
            </div>
          </div>
          <!-- What field -->
          <div class="row setup-content" id="step1">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h1>My role in tech is  <span id="role">___________</span>  related.</h1></div>
                <div class="checkbox"><label><input type="radio" id="business"> Business</label></div>
                <div class="checkbox"><label><input type="radio" id="tech"> Engineering</label></div>
                <h3/>
                <button id="activate2" class="btn btn-primary btn-lg pull-right">Next</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- Tech - Question 2 -->
          <div class="row setup-content" id="step2t">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h1>Do you code?</h1></div>
                <div class="checkbox"><label><input type="radio" id="yes"> Yes</label></div>
                <div class="checkbox"><label><input type="radio" id="no"> No</label></div>
                <h3/>
                <!-- Autocomplete programming languages -->
                <div id="languages-form" style="display:none;">
                  <div class="page-header">Which programming languages?</div>
                  <input class="input-lg" type="text" value="Java" id="languages" data-role="tagsinput"></input>
                </div>
                <!-- LANGUAGES SCRIPT -->
                <script type="text/javascript" src="/js/languages.js"> </script>
                <br></br>
                <button id="activate3t" class="btn btn-primary btn-lg pull-right">Next</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- Business - Question 2 -->
          <div class="row setup-content" id="step2b">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h1>Specialization?</h1></div>
                <div class="checkbox"><label><input type="radio" id="finance"> Finance</label></div>
                <div class="checkbox"><label><input type="radio" id="marketing"> Marketing</label></div>
                <div class="checkbox"><label><input type="radio" id="sales"> Sales</label></div>
                <h3/>
                <!-- Autocomplete Tools for Business -->
                <!-- FINANCE -->
                <div id="finance-form" style="display:none;">
                  <div class="page-header">What Tools?</div><input class="input-lg" type="text" value="Microsoft Excel" id="financetools" data-role="tagsinput"></input>
                </div>
                <script type="text/javascript" src="/js/financetools.js"> </script>
                <!-- MARKETING -->
                <div id="marketing-form" style="display:none;">
                  <div class="page-header">What Tools?</div><input class="input-lg" type="text" value="Microsoft Excel" id="marketingtools" data-role="tagsinput"></input>
                </div>
                <script type="text/javascript" src="/js/marketingtools.js"> </script>
                <!-- SALES -->
                <div id="sales-form" style="display:none;">
                  <div class="page-header">What Tools?</div><input class="input-lg" type="text" value="Microsoft Excel" id="salestools" data-role="tagsinput"></input>
                </div>
                <script type="text/javascript" src="/js/salestools.js"> </script>
                <br></br>
                <button id="activate3b" class="btn btn-primary btn-lg pull-right">Next</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- Tech - Question 3 -->
          <div class="row setup-content" id = "step3t">
            <div class="col-xs-12">
             <div class="col-md-12 well" >
                <div class="page-header"><h1>What type of Developer?</h1></div>
                <div class="checkbox"><label><input type="radio" id="mobile"> Mobile Applications</label></div>
                <div class="checkbox"><label><input type="radio" id="system"> Systems</label></div>
                <div class="checkbox"><label><input type="radio" id="web"> Web</label></div>
                <div class="checkbox"><label><input type="radio" id="embedSystem"> Embedded Systems</label></div>
                <div class="checkbox"><label><input type="radio" id="bigdata"> Big Data</label></div>
                <div class="checkbox"><label><input type="radio" id="quality"> Quality Assurance</label></div>
                <div class="checkbox"><label><input type="radio" id="e_student"> Student</label></div>
                <h3/>
                <button id="done_t" type="submit" class="btn btn-primary btn-lg pull-right" data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
          <div class="row setup-content" id = "step3m">
            <div class="col-xs-12">          
              <div class="col-md-12 well">
                <div class="page-header"><h1>What kind of Marketing?</h1></div>
                <div class="checkbox"><label><input type="radio" id="online_marketing"> Online Marketing</label></div>
                <div class="checkbox"><label><input type="radio" id="business_marketing"> Business to Business</label></div>
                <div class="checkbox"><label><input type="radio" id="consumer_marketing"> Business to Consumer</label></div>
                <div class="checkbox"><label><input type="radio" id="partner_marketing"> Partner Marketing</label></div>
                <div class="checkbox"><label><input type="radio" id="m_student"> Student</label></div>
                <h3/>
                <button id="done_m" type="submit" class="btn btn-primary btn-lg pull-right" data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
          <div class="row setup-content" id = "step3f">
            <div class="col-xs-12">
              <div class="col-md-12 well">
                <div class="page-header"><h1>What kind of Finance?</h1></div>
                <div class="checkbox"><label><input type="radio" id="personal_finance"> Personal</label></div>
                <div class="checkbox"><label><input type="radio" id="corporate_finance"> Corporate</label></div>
                <div class="checkbox"><label><input type="radio" id="investment"> Investment</label></div>
                <div class="checkbox"><label><input type="radio" id="f_student"> Student</label></div>
                <h3/>
                <button id="done_f" type="submit" class="btn btn-primary btn-lg pull-right" data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
          <div class="row setup-content" id = "step3s">
            <div class="col-xs-12">
              <div class="col-md-12 well">
                <div class="page-header"><h1>What kind of Sales?</h1></div>
                <div class="checkbox"><label><input type="radio" id="inside_sales"> Inside</label></div>
                <div class="checkbox"><label><input type="radio" id="outside_sales"> Outside</label></div>
                <div class="checkbox"><label><input type="radio" id="support_sales"> Support</label></div>
                <div class="checkbox"><label><input type="radio" id="commission_sales"> Commission</label></div>
                <div class="checkbox"><label><input type="radio" id="s_sales"> Student</label></div>
                <h3/>
                <button id="done_s" type="submit" class="btn btn-primary btn-lg pull-right" data-dismiss="modal">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </h2>
</div>

<!-- User engagement Questionnaire -->
<script type="text/javascript" src="../js/engagement.js"> </script>
    {% endif %}
<!-- END MODAL -->

        <div class="row">
          <div class="col-md-4">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About Me
                  </h4>
                  </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">Website:</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {% if user.skills_count > 0 %}
                    Skills
                    <span class="badge pull-right">{{user.skills_count}}</span>
                    {% endif %}
                    <input type="hidden" id="skill_count" name="variable" value="{{user.skills_count}}">
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    Skills:
                    <br></br>
                    {% for skill in skills %}
                    {{skill.name}} <br></br>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class = "collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Projects
                    <span class="badge pull-right">1690</span>
                    </a>
                  </h4>
                </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Project Listing
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Hacks
                    <span class="badge pull-right">15</span>
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  Hack Listing
                </div>
              </div>
            </div>
                
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a href="/connections?username={{user.username}}">
                    Connections
                    {% if user.friend_count > 0 %}
                    <span class="badge pull-right">{{user.friend_count}}</span>
                    {% endif %}
                  </a>
                </h4>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2"></div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Comment</h3>
              </div>
              <div class="panel-body">
                <form role="form" action="/comment" method="post">
                  <div class="form-group">
                    <textarea style="resize:none; font-size: 16px;" name="text" class="form-control" rows="1" id="commentBox"></textarea>
                    <ol style="visibility:hidden;"></ol>
                    <input  type="hidden" name="recipient" class="form-control" value={{user.username}}>
                    <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
                    <button type="submit" style="display:none;" class="btn btn-primary pull-right" id="postButton"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Post</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="list-group">
              {% for comment in comments %}
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title">{{comment.sender}}<span><p class="panel-title pull-right">{{comment.time}}</p></span></h2>
                </div>
                <div class="panel-body">
                  <h4>{{comment.text}}</h4>
                </div>
              </div>
       {% endfor %}
     </div>
   </div>
 </div>

<!-- Comment JS -->
<script type="text/javascript" src="../js/comment.js"> </script>

{% endblock %}
