{% extends "base.html" %}

{% block content %}

<style>
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
.ui-helper-hidden-accessible { display:none; }
</style>
<!-- Main user Profile -->
<div id = "viewer" style="display: none;">{{viewer.username}}</div>
<!-- User Info View -->
<div class = "row">
  <div class="col-md-1"></div>
  <div class= "col-md-4">
    <img src="/img?user_id={{user.key.urlsafe}}&height=300&width=300" class="img-rounded"/>
  </div>
  <div class= "col-md-6">
    <br><br>
    <h2 id= "test" >{{user.first_name}} {{user.last_name}}
    <br>
    <small id = "profession">      {{user.profession}}    </small>
    <small> @ </small>
    <small id = "employer">     {{user.employer}}</small>
    <br><br>
    {% if user.email_address != viewer.email_address %}
    <form role="form-horizontal" action="/connect" method="post">
      <div class="form-group"><input  type="hidden" name="requestee" class="btn btn-primary" value={{user.username}}></div>
      {% if viewer.key not in user.friends %}
      <!-- IF USER IS NOT FRIENDS -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#connectModal" data-requestee={{user.username}}><span class ="glyphicon glyphicon-plus" aria-hidden="true"></span>          Connect</button>
      {% endif %}

      <!-- Here is the button to create a modal message. -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal" data-recipient={{user.username}}><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Message</button>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>
  
  <div class="modal fade" id="endorseModal" tabindex="-1" role="dialog" aria-labelledby="connectionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="connectionLabel">Endorsement</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class = "media">
              <div class = "media-left">
                <img src="/img?user_id={{user.key.urlsafe}}&height=150&width=150" class="img-rounded"/> 
              </div>
              <div class ="media-body">
              <h4 class ="media-heading"><h4>{{user.first_name}} {{user.last_name}}<br>{{user.profession}} at {{user.employer}}</h4></br>
              <button id="comment_selected" type="button" class="btn btn-default btn-xs">     Leave Endorsement Description</button>
              <div id="endorse_comment" style="display:none;">
              <textarea class="form-control" id="endorse-text" rows="2">Leave your endorsement for {{user.first_name}} here.</textarea>
              </div>     
              </div>
            </div>
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="endorsementMade">Endorse</button>
        </div>
      </div>
    </div>
  </div>



    <!-- NEW CONNECTION MODAL SELECTED -->
      <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectionLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="connectionLabel">Connection Request</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class = "media">
                  <div class = "media-left">
                    <img src="/img?user_id={{user.key.urlsafe}}&height=100&width=100" class="img-rounded"/> 
                  </div>
                  <div class = "media-body">
                  <h4 class = "media-heading">{{user.first_name}} {{user.last_name}}<br>{{user.profession}} at {{user.employer}}</br>      
                  </div>
                </div>
                <h2></h2>
                <div class="form-group">
                  <label for="connection-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="connection-text" rows="3">Hi {{user.first_name}}! I'd like to connect with you.</textarea>
                </div>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="connectRequest">Connect</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/js/newConnection.js"> </script>

      <!-- NEW MESSAGE MODAL SELECTED -->
      <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="messageLabel">New message</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Recipient:</label>
                  <input type="text" class="form-control input-lg" id="recipient">
                </div>
                <div class = "form-group">
                  <label for="message-subject" class="control-label">Subject:</label>
                  <input class = "form-control input-lg" id="message-subject"></input>
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text" rows="10"></textarea>
                </div>
               </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="sendMessage">Send message</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/js/newMessage.js"> </script>

      {% else %}
    <!-- User owns profile -->
      <button type="button" class="btn btn-primary pull-right" align="right" id="edit">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>   Edit</button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="container">
          <div class="row form-group">
            <!-- Main tabs -->
            <div class="col-md-2"></div>
            <div class="col-xs-8">
              <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step0"><h4 class="list-group-item-heading">Welcome</h4></a></li>
                <li class="disabled"><a href="#step1"><h4 class="list-group-item-heading">Role</h4></a></li>
                <li class="disabled"><a href="#step2"><h4 class="list-group-item-heading">Specialty</h4></a></li>
                <li class="disabled"><a href="#step3"><h4 class="list-group-item-heading">Skills</h4></a></li>
                </ul>
            </div>
            <div class="col-md-2"></div>
          </div>
          <!-- What type of user -->
          <div class="row setup-content" id="step0">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h1 align="center">Welcome {{user.first_name}}! </h1><h3 align="center">Please take a minute to let us build your profile for you.</h3></div>
                <button id="activate1" class="btn btn-primary pull-right">Next</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <!-- What field -->
          <div class="row setup-content" id="step1">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header">
                  <h3>
                    {% if user.account_type == "Student" %}
                    My major in school is
                    {% else %}
                    My role in tech is
                    {% endif %}  <span id="role">___________</span>  related.</h3>
                </div>
                <div class="page-header">
                <div class="checkbox"><label><input type="radio" id="business"> Business</label></div>
                <div class="checkbox"><label><input type="radio" id="tech"> Engineering</label></div>
                <div class="checkbox"><label><input type="radio" id="other_role">Other<input type="text" class="form-control" id="other_role_text" style="display:none;"></label></div>
              </div>
                <div style="display:none;" id='employer_name'><label>
                  {% if user.account_type == "Student" %}
                  School:
                  {% else %}
                  Employer:
                  {% endif %}
                  <input type="text" class="form-control" id="employer_text"></label></div>
                <button id="activate2" class="btn btn-primary pull-right">Next</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>

          <!-- Professional, Student, and Recruiter Engineering Sections -->
          <div class="row setup-content" id="step2e">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
             <div class="col-md-8 well">
              <div class="page-header"><h3>Which field of Engineering
                {% if user.account_type == "Student" %}
                interests you?
                {% else %}
                ?
                {% endif %}
                </h3></div>
              <div class="page-header">
              <div class="checkbox"><label><input type="radio" id="air">Aerospace</label></div>
              <div class="checkbox"><label><input type="radio" id="medical">Biomedical, Chemical, or Materials</label></div>
              <div class="checkbox"><label><input type="radio" id="civil"> Civil/ Environmental</label></div>
              <div class="checkbox"><label><input type="radio" id="computer"> Computer</label></div>
              <div class="checkbox"><label><input type="radio" id="electrical"> Electrical</label></div>
              <div class="checkbox"><label><input type="radio" id="general"> General</label></div>
              <div class="checkbox"><label><input type="radio" id="industrial"> Industrial and Systems</label></div>
              <div class="checkbox"><label><input type="radio" id="mechanical"> Mechanical</label></div>
              <div class="checkbox"><label><input type="radio" id="software"> Software</label></div>
              <div class="checkbox"><label><input type="radio" id="other">Other<input type="text" class="form-control" id="other_text" style="display:none;"></label>
              </div>
              </div>
              <div id='position_name' style="display:none;"><label>
              {% if user.account_type != "Student" %}
              Current Postion:
              {% else %}
              Major:
              {% endif %}
              <input type="text" class="form-control" id="position_text"></label></div>
              <button id="activate3e" class="btn btn-primary pull-right">Next</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

        <!-- Professional, Student, and Recruiter Business Sections -->
        <div class="row setup-content" id="step2b">
          <div class="col-xs-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 well">
              <div class="page-header"><h3>Which field in Business?</h3></div>
              <div class="checkbox"><label><input type="radio" id="finance"> Finance</label></div>
              <div class="checkbox"><label><input type="radio" id="marketing"> Marketing</label></div>
              <div class="checkbox"><label><input type="radio" id="sales"> Sales</label></div>
              <div class="checkbox"><label><input type="radio" id="b_other">Other<input type="text" class="form-control" id="b_other_text"style="display:none;"></label></div>
              <div id='b_position_name' style="display:none;"><label>
              {% if user.account_type != "Student" %}
              Current Postion:
              {% else %}
              Major:
              {% endif %}
              <input type="text" class="form-control" id="b_position_text"></label></div>
              <button id="activate3b" class="btn btn-primary pull-right">Next</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

        <!-- Professional, Student, and Recruiter Other Sections -->
        <div class="row setup-content" id="step2o">
          <div class="col-xs-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 well">
              <div class="page-header"><h3>Which field in <span id="other_role_span"></span>?</h3></div>

              <div class = "page-header"><label>Please be as specific as possible<input type="text" class="form-control" id="o_other_text"></label></div>
              <div id='o_position_name'><label>
              {% if user.account_type != "Student" %}
              Current Postion:
              {% else %}
              Major:
              {% endif %}
              <input type="text" class="form-control" id="o_position_text"></label></div>
              <button id="activate3o" class="btn btn-primary pull-right">Next</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

        <!-- Computer/SE - Question 3 -->
        <div class="row setup-content" id = "step3se">
          <div class="col-xs-12">
          <div class="col-md-2"></div>
           <div class="col-md-8 well" >
              <div class="page-header"><h3>Which kind of Developer<span id="d_role"></span>?</h3></div>
              <div class="checkbox"><label><input type="radio" id="mobile"> Mobile Applications</label></div>
              <div class="checkbox"><label><input type="radio" id="system"> Systems</label></div>
              <div class="checkbox"><label><input type="radio" id="web"> Web</label></div>
              <div class="checkbox"><label><input type="radio" id="embedSystem"> Embedded Systems</label></div>
              <div class="checkbox"><label><input type="radio" id="bigdata"> Big Data</label></div>
              <div class="checkbox"><label><input type="radio" id="quality"> Quality Assurance</label></div>
              <div class="checkbox"><label><input type="radio" id="d_other">Other<input type="text" class="form-control" id="d_other_text" style="display:none;"></label></div>
              <!-- Autocomplete programming languages -->
              <div id="languages-form" style="display:none;">
              <div class="page-header">Which programming languages<span id="dlanguages"></span>?</div>
              <input class="input-lg" type="text" value="Java" id="languages" data-role="tagsinput"></input>
              </div>
              <button id="done_t" type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
        <!-- Engineer Question 3 -->
          <div class="row setup-content" id ="step3e">
            <div class="col-xs-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 well">
              <div class="page-header"><h3>Please input
              {% if user.account_type == "Recruiter" %}
              skills all candidates must have
              {% else %} skills
              {% endif %} </h3></div>
              <input class = "input-lg" type="text" value="Technical Writing" id="engineering_skills" data-role="tagsinput"></input>
              <button id="done_te" type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
            </div>
            <div class="col-md-2"></div>
            </div>
          </div>

        <!-- Professional, Student, and Recruiter Business Tools -->
          <div class="row setup-content" id ="step3m">
            <div class="col-xs-12"> 
            <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h3>What type of Marketing?</h3></div>
                <div class="checkbox"><label><input type="radio" id="online_marketing"> Online Marketing</label></div>
                <div class="checkbox"><label><input type="radio" id="business_marketing"> Business to Business</label></div>
                <div class="checkbox"><label><input type="radio" id="consumer_marketing"> Business to Consumer</label></div>
                <div class="checkbox"><label><input type="radio" id="partner_marketing"> Partner Marketing</label></div>
                <div id="marketing-form" style="display:none;">
                  <div class="page-header">What Tools<span id="rm_role"></span>?</div><input class="input-lg" type="text" value="Microsoft Excel" id="marketingtools" data-role="tagsinput"></input>
                </div>
                <button id="done_m" type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <div class="row setup-content" id = "step3f">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h3>What type of Finance?</h3></div>
                <div class="checkbox"><label><input type="radio" id="personal_finance"> Personal</label></div>
                <div class="checkbox"><label><input type="radio" id="corporate_finance"> Corporate</label></div>
                <div class="checkbox"><label><input type="radio" id="investment"> Investment</label></div>
                <div id="finance-form" style="display:none;">
                  <div class="page-header">What Tools<span id="rf_role"></span>?</div><input class="input-lg" type="text" value="Microsoft Excel" id="financetools" data-role="tagsinput"></input>
                </div>
                <button id="done_f" type="submit" class="btn btn-primary  pull-right" data-dismiss="modal">Done</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <div class="row setup-content" id ="step3s">
            <div class="col-xs-12">
              <div class="col-md-2"></div>
              <div class="col-md-8 well">
                <div class="page-header"><h3>What type of Sales?</h3></div>
                <div class="checkbox"><label><input type="radio" id="inside_sales"> Inside</label></div>
                <div class="checkbox"><label><input type="radio" id="outside_sales"> Outside</label></div>
                <div class="checkbox"><label><input type="radio" id="support_sales"> Support</label></div>
                <div class="checkbox"><label><input type="radio" id="commission_sales"> Commission</label></div>
                <div id="sales-form" style="display:none;">
                <div class="page-header">What Tools<span id="rs_role"></span>?</div><input class="input-lg" type="text" value="Salesforce" id="salestools" data-role="tagsinput"></input>
                </div>
                <button id="done_s" type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </h2>
  </div>
</div>
<!-- User engagement Questionnaire -->
<script type="text/javascript" src="../js/engagement.js"> </script>
{% endif %}
<!-- END MODAL -->

<div class= "row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="control-group" id="img_edit" style="display:none;">
      <h5>New Profile Picture</h5>
      <form class="form-horizontal" enctype="multipart/form-data"  action="/updatepicture" method="POST">
        <div class="controls">
          <input type="file" id="avatar" name="img"  class="form-control input-xs" required>
        </div>
        <div class="controls">
          <button class = "btn btn-primary btn-xs" style="display: block; width: 100%;" type="submit">Update Picture</button>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="page-header">
  <!-- Edit information -->
  <div class = "row">
    <div class = "col-md-12">
      <div class = "form-inline" style ="display: none;" id ="editField">
        <h4>Edit Profile</h4><br>
        <div class = "col-md-2">
          <input id="first_edit" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.first_name}}">
        </div>
        <div class = "col-md-2">
          <input id="last_edit" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.last_name}}">
        </div>
        <div class = "col-md-2">
          <input id="profession_edit" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.profession}}">
        </div>
        <div class = "col-xs-1 text-center"><h4>at</h4></div>
        <div class = "col-md-3">
          <input id="employer_edit" type = "text" class="form-control input-default" style="width: 100%;" value ="{{user.employer}}">
          <input id="user_key" type="hidden" value="{{user.key.urlsafe}}">
        </div>
        <div class = "col-md-1"><button class = "btn btn-warning" id="cancel" type="reset">Cancel</button></div>
        <div class = "col-md-1"><button class = "btn btn-primary" id = "save" type="submit">Save</button></div>
      </div>
    </div>
  </div>
  <!-- End edit information -->
</div>

      




      
    

        <div class="row">
          <div class="col-md-5">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About Me
                  </h4>
                  </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body" id="about">{{profile.about}}</div>
                  <div class="panel-body" style="display:none;" id='about_edit'>
                  <input id="about_me" type = "text" class="form-control input-default" style="width: 100%;" value ="{{profile.about}}"></div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Skills
                    {% if user.skills_count > 0 %}
                    <span class="badge pull-right">{{user.skills_count}}</span>
                    {% endif %}
                    <input type="hidden" id="skill_count" name="variable" value="{{user.skills_count}}">
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    {% for skill, endorsement in skills %}
                    <div class = "row">
                      <div class='col-md-10'>
                      {% if endorsement != 0 %}
                      <span class="badge" id ="{{forloop.counter}}">{{endorsement}}</span>
                      {% else %}
                      <span class="badge" id ="{{forloop.counter}}" style="display:none;">{{endorsement}}</span>
                      {% endif %}
                      <a href="/tech/{{skill.name.split|join:""}}" style="padding-right: 10px;">{{skill.name}}</a>
                      </div>
                      <div class='col-md-2'>
                      {% if user.email_address != viewer.email_address %}
                      <button class="btn btn-primary btn-xs" type="button" value="{{skill.key.urlsafe}}" id="up-{{forloop.counter}}" style="border:none; background:none; color:#4682B4"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>                    
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                    Endorsements
                    {% if user.endorsement_count > 0 %}
                    <span class="badge pull-right">{{user.endorsement_count}}</span>
                    {% endif %}
                    <input type="hidden" id="endorsement_count" name="variable" value="{{user.skills_count}}">
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    {% for endorsement in endorsements %}
                    <div class = "row">
                      <div class='col-md-2'><img src="/img?user_id={{endorsement.endorser.urlsafe}}&height=50&width=50" class="img-rounded"/></div>
                      {{endorsement.time}}
                      <div class='col-md-8'>
                        {{endorsement.description}}
                        <br><br>
                      </div>
                      <div class='col-md-2'></div>
                    </div>
                    {% endfor %}
                  </div>                    
                </div>
              </div>
                
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a href="/connections?username={{user.username}}">
                    Connections
                    {% if user.friend_count > 0 %}
                    <span class="badge pull-right">{{user.friend_count}}</span>
                    {% endif %}
                  </a>
                </h4>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-2"></div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Comment</h3>
              </div>
              <div class="panel-body">
                <form role="form" action="/comment" method="post">
                  <div class="form-group">
                    <textarea style="resize:none; font-size: 16px;" name="text" class="form-control" rows="1" id="commentBox"></textarea>
                    <ol style="visibility:hidden;"></ol>
                    <input  type="hidden" name="recipient" class="form-control" value={{user.username}}>
                    <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
                    <button type="submit" style="display:none;" class="btn btn-primary pull-right" id="postButton"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Post</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-default" style="display:none; padding:0;" id="replybox">
              <div class="panel-heading">
                <h3 class="panel-title">Reply</h3>
              </div>
              <div class="panel-body">
                <form role="form" action="/comment" method="post">
                  <div class="form-group">
                    <textarea style="font-size: 18px;" name="text" class="form-control" rows="3" id="replycommentBox"></textarea>
                    <ol style="visibility:hidden;"></ol>
                    <input  type="hidden" name="recipient" class="form-control" value={{viewer.username}}>
                    <input  type="hidden" name="sender" class="form-control" value={{viewer.username}}>
                    <input  type="hidden" name="origin" class="form-control" value='profile'>
                    <input type="hidden" id="parent" name="parent" class="form-control">
                    <button type="submit" class="btn btn-primary pull-right" id="postreplyButton"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Reply</button>
                  </div>
                </form>
              </div>
            </div>
            {% if comments %}
            <div class="list-group">
              {% for comment in comments %}
              <div id="comment{{page}}a{{forloop.counter}}"  {% if comment.root%} class="panel panel-info" style="margin-bottom:0; margin-top:10px;" {%else%} class="list-group-item" style="margin-left: {{comment.offset}}; margin-top:0;margin-bottom:0;"{% endif %}>
              <div class="panel-heading">
                 <h2 class="panel-title">{{comment.sender}}<span><p class="panel-title pull-right">{{comment.time}}</p></span></h2>
                </div>
                <div class="panel-body">
                  <h4>{{comment.text|linebreaks}} </h4>
                  <div class="btn-group pull-right">
                    <button style="padding-left:15px;" class="btn btn-xs pull-right" id="reply-{{page}}a{{forloop.counter}}" value={{comment.key.urlsafe}}>Reply</button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
   </div>
 </div>

<!-- Comment JS -->
<script type="text/javascript" src="../js/comment.js"> </script>
<script type="text/javascript" src="../js/endorse.js"></script>
<script type="text/javascript" src="../js/reply.js"> </script>
<div id= "endorser" style="display: none;">{{user.key.urlsafe}}</div>

{% endblock %}
