{% extends "visitorBase.html" %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Welcome to Techeria!
      </h1>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="well">
        <form class="form-horizontal" enctype="multipart/form-data"  action="/register" method="POST">
        <fieldset>
          <div id="legend">
          <legend class="">Sign Up</legend>
          </div>
          <div class="control-group">
          <h4>Username <small id="available" class="label label-success pull-right" style="display:none;"></small>
          </h4>
            <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" required>
            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
          </div>
          <!-- CHECK USERNAME -->
          <script type="text/javascript" src= "js/register.js"></script> 
          <div class="control-group">
            <h4>First Name</h4>
            <div class="controls">
              <input type="text" id="first_name" name="first_name" placeholder="" class="form-control input-lg" required>
            </div>
          </div>     
          <div class="control-group">
          <h4>Last Name</h4>
            <div class="controls">
            <input type="text" id="last_name" name="last_name" placeholder="" class="form-control input-lg" required>
            </div>
          </div>
          <div class="control-group">
            <h4>Email</h4>
            <div class="controls">
            <input type="email" id="email" name="email" placeholder="" class="form-control input-lg" required>
            </div>
          </div>
          <div class="control-group">
            <h4>Password</h4>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" required>
            </div>
          </div>
          <div class="control-group">
          <h4>Confirm Password<small id="passwords_match" class="label label-danger pull-right" style="display:none;">Passwords do not match</small></h4>
            <div class="controls">
            <input type="text" id="c_password" name="c_password" placeholder="" class="form-control input-lg" required>
            </div>
          </div>
          <div class="control-group">
            <h4>Verification Code</h4>
            <div class="controls">
              <input type="password" id="verification" name="verification" placeholder="" class="form-control input-lg" required>
            </div>
          </div>
          <div class="control-group">
            <h4>Profile Picture</h4>
            <div class="controls">
              <input type="file" id="avatar" name="img"  class="form-control input-lg" required>
            </div>
          </div>
          <div class="control-group">
            <h4>Accout Type</h4>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
              <input type="radio" name="options" id="student" autocomplete="off" checked><span class ="glyphicon glyphicon-education" aria-hidden="true"></span>   Student</label>
              <label class="btn btn-default active">
              <input type="radio" name="options" id="prof" autocomplete="off" checked> <span class ="glyphicon glyphicon-briefcase" aria-hidden="true"></span>     Professional
              </label>
              <label class="btn btn-default">
              <input type="radio" name="options" id="recruiter" autocomplete="off"><span class ="glyphicon glyphicon-user" aria-hidden="true"></span><span class ="glyphicon glyphicon-transfer" aria-hidden="true"></span><span class ="glyphicon glyphicon-user" aria-hidden="true"></span>   Recruiter
            </label>
          </div>
          <!-- User Account Type -->
          <input id="account_type" name="account_type" type="hidden"></input>
          <br></br>
          <div class="control-group">
          <!-- Button -->
            <div class="controls">
              <button class="btn btn-success btn-lg" id="signup" style="display: block; width: 100%;">Sign Up</button>
            </div>
          </div>
        </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
