{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h2>Connection Requests<small></small>
  </h2>
</div>
<ul class = "list-group">
  {% for request in  requests %}
  <div class="list-group-item">
    <a href="/profile/{{request.requestor}}">
      <h3 class="list-group-item-text">{{request.requestor}}</h3>
    </a>
    {% if request.text != None %}
    <p class="list-group-item-text">{{request.text}}</p>
    {% endif %}
    <form role="form" action="/confirmconnect" method="post">
      <input  type="hidden" name="requestor" class="form-control" value={{request.requestor}}>
        <input type="hidden" name="requestee" class="form-control" value={{request.requestee}}>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Connect</button>
          </span>
          </form>
  </div>
  {% endfor %}
</ul>

{% endblock %}