{% extends "base.html" %}

{% block content %}
<div class="page-header">
      <h2>Search results for "{{search_string}}"
      </h2>
    </div>
    {% if viewer.account_type == "Recruiter" %}
    <script type="text/javascript" src="../js/advancedSearch.js"> </script>
    <div class="col-md-2">
      <div class="list-group">
        <li {% if results %} class="list-group-item active" {% else %} class ="list-group-item disabled" {% endif %} id="users">Users<span class="badge">{{results|length}}</span></li>

        <li{% if skills %} class="list-group-item" {% else %} class = "list-group-item disabled" {% endif %} id="skills">Skills<span class="badge">{{skills|length}}</span></li>

        <li {% if forums %} class="list-group-item" {% else %} class = "list-group-item disabled" {% endif %} id="forums">Forums<span class="badge">{{forums|length}}</span></li>

        <li {% if employers %} class="list-group-item" {% else %} class = "list-group-item disabled" {% endif %} id="employers">Employers<span class="badge">{{employers|length}}</span></li>

        <li {% if jobs %} class="list-group-item" {% else %} class = "list-group-item disabled" {% endif %} id="jobs">Profession<span class="badge">{{jobs|length}}</span></li>
      </div>
    </div>
    {% for user in results %}
      {% if user != None %}
      <div class="col-md-10" id="users_list">
      <!-- User Tab -->
        <div class="list-group">
         <a href="profile/{{user.username}}" class="row list-group-item">
          <div class="col-md-2">
            <img src="/img?user_id={{user.key.urlsafe}}&height=100&width=100" class="img-rounded"></img>
          </div>
          <div class="col-md-10">
            <h3>{{user.first_name}}  {{user.last_name}}</h3>
            <p>{{user.profession}} @ {{user.employer}}</p>
          </div>
         </a>
        </div>      
      </div>
      {% endif %}
    {% endfor %}
    <!-- Employer Search -->
    {% for user in employers %}
      {% if user != None %}
      <div class="col-md-10" id ="employers_list" style="display: none;">
        <div class="list-group">
         <a href="profile/{{user.username}}" class="row list-group-item">
          <div class="col-md-2">
            <img src="/img?user_id={{user.key.urlsafe}}&height=100&width=100" class="img-rounded"></img>
           </div>
          <div class="col-md-10">
              <h3>{{user.first_name}}  {{user.last_name}}</h3>
              <p>{{user.profession}} @ <b>{{user.employer}}</b></p>
          </div>
         </a>
        </div>
      </div>
      {% endif %}
    {% endfor %}

    <!-- Jobs Search -->
    {% for user in jobs %}
      {% if user != None %}
      <div class="col-md-10" id="jobs_list" style="display: none;">
        <div class="list-group">
         <a href="profile/{{user.username}}" class="row list-group-item">
          <div class="col-md-2">
            <img src="/img?user_id={{user.key.urlsafe}}&height=100&width=100" class="img-rounded"></img>
           </div>
          <div class="col-md-10">
            <h3>{{user.first_name}}  {{user.last_name}}</h3>
            <p><b>{{user.profession}}</b> @ {{user.employer}}</p>
          </div>
         </a>
        </div>
      </div>
      {% endif %}
    {% endfor %}

    {% if not results %}
    <div class= "col-md-10">
      <div class="list-group">
        <a href="/profile/{{user.username}}" class="list-group-item ">
          <h4 class = "list-group-item-heading">No search results found</h4>
          <p class="list-group-item-text">Please Try again</p>
        </a>
      </div>
    </div>
    {% endif %}
    {% else %}
    <!-- ============== -->
    <!-- User is NOT a Recruiter -->
    {% for user in results %}
      {% if user != None %}
    <div class="col-md-10">
      <div class="list-group">
       <a href="profile/{{user.username}}" class="row list-group-item">
        <div class="col-md-2">
            <img src="/img?user_id={{user.key.urlsafe}}&height=100&width=100" class="img-rounded"></img>
         </div>
        <div class="col-md-10">
          <h3>{{user.first_name}}  {{user.last_name}}</h3>
          <p>{{user.profession}} @ {{user.employer}}</p>
        </div>
       </a>
      </div>
    </div>
      {% else %}
      <div class="list-group">
        <a href="/profile/{{user.username}}" class="list-group-item ">
          <h4 class = "list-group-item-heading">No search results found</h4>
          <p class="list-group-item-text">Please Try again</p>
        </a>
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}
